# openai, deepseek, ollama
ENGINE=openai

# OpenAI settings
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4o-mini

# DeepSeek settings
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_MODEL=deepseek-chat


# Ollama settings
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=phi4:latest